*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    font-size: 1.6rem;
}
/* Card */
.container{
    max-width: 1320px;
    /* border: 2px solid red; */
    margin: 0 auto;
    padding: 0 0.5rem;
}
.card__block{
    width: 25.6rem;
    margin: 0.3rem;
    padding: 0.3rem;
    border: 1px solid #eeee;
    background-color: #fafafa;
    transition: 0.2s;
}
.card__block:hover{
    box-shadow: 2px 2px 0px 0.5px #2a2a2a;
}
.card__img{
    /* border: 2px solid slateblue; */
    height: 24.8rem;
}
.card__img img{
    display: block;
    width: 100%;
    height: 100%;
}
.card__infor{
    padding: 0.5rem 0;
}
.card__infor p{
    font-size: 1.5rem;
    font-weight: 700;
}
.card__infor p span{
    font-size: 1.4rem;
    font-weight: 400;
}
.card__controller{
    display: flex;
}
.card__controller__block{
    width: 50%;    
}
.btn__card__controller{
    display: block;
    background-color: aquamarine;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}
.btn__card__controller:hover{
    color: red;
}
.card-carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}