.tab-content-item{
    display: none;
    width: 500px;
}
.tab-content-item img{
    display: block;
    width: 100%;
}
.tab-content-item.actived{
    display: block;
}
.navTab-btn.actived{
    background-color: aquamarine;
}